
# HTML5 Boilerplate http://html5boilerplate.com/
<FilesMatch "\.(ttf|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
# Only works in main http.conf
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss

# Rewriting!
Options +FollowSymlinks
RewriteEngine On

# Mephisto To Jekyll (Categories)
RewriteRule ^heuristics$ /categories/heuristics.html [L]
RewriteRule ^workflow$ /categories/workflow.html [L]
RewriteRule ^apple/osx$ /categories/apple-osx.html [L]
RewriteRule ^database$ /categories/database.html [L]
RewriteRule ^lifestyle$ /categories/lifestyle.html [L]
RewriteRule ^miscellaneous$ /categories/miscellaneous.html [L]
RewriteRule ^ruby/rails$ /categories/ruby-rails.html [L]
RewriteRule ^textmate$ /categories/textmate.html [L]

# Mephisto To Jekyll (Articles)
RewriteRule ^2010/10/18/tinytds-a-modern-simple-and-fast-freetds-library-for-ruby-using-db-library$ /2010/10/18/tinytds-a-modern-simple-and-fast-freetds-library-for-ruby-using-db-library/ [L]
RewriteRule ^2010/8/19/how-to-clean-a-campfire-room-of-uploads$ /2010/08/19/how-to-clean-a-campfire-room-of-uploads/ [L]
RewriteRule ^2010/8/6/protip-exclude-your-rvm-install-from-timemachine-backups$ /2010/08/06/protip-exclude-your-rvm-install-from-timemachine-backups/ [L]
RewriteRule ^2010/7/30/the-rvm-ruby-api$ /2010/07/30/the-rvm-ruby-api/ [L]
RewriteRule ^2010/7/19/a-macport-rubyodbc-update$ /2010/07/19/a-macport-rubyodbc-update/ [L]
RewriteRule ^2010/7/9/interactive-javascript-console-with-textmate$ /2010/07/09/interactive-javascript-console-with-textmate/ [L]
RewriteRule ^2010/7/7/bit-fat-legacy-schema-inspection$ /2010/07/07/bit-fat-legacy-schema-inspection/ [L]
RewriteRule ^2010/7/6/custom-webrat-session-formatted_error-for-rails-with-nokogiri$ /2010/07/06/custom-webrat-session-formatted_error-for-rails-with-nokogiri/ [L]
RewriteRule ^2010/5/26/the-alias_method_chain-of-rake-override-rake-task$ /2010/05/26/the-alias_method_chain-of-rake-override-rake-task/ [L]
RewriteRule ^2010/4/13/restful-ajax-with-forgery-protection-with-rails-3$ /2010/04/13/restful-ajax-with-forgery-protection-with-rails-3/ [L]



