
<section id="honors">
  <h3>With Honors</h3>
  <ul>
    <li><a id="badge_ios" href="http://developer.apple.com/"></a></li>
    <li><a id="badge_railscore" href="http://contributors.rubyonrails.org/contributors/ken-collins/commits"></a></li>
    <li><a id="badge_pragalumni" href="http://alumni.pragmaticstudio.com/users/128"></a></li>
    <li><a id="badge_linkedin" href="http://www.linkedin.com/in/metaskills"></a></li>
    <li><a id="badge_slideshare" href="http://www.slideshare.net/metaskills"></a></li>
    <li><a id="badge_757rb" href="http://757rb.org/"></a></li>
  </ul>
</div>

<section id="blogroll">
  <h3>Blogroll</h3>
  <ul>
    <li><a href="http://www.linkedin.com/in/imbriaco">Mark Imbriaco</a></li>
    <li><a href="http://mwhuss.com/">Marshall Huss</a></li>
    <li><a href="http://fun3d.larc.nasa.gov/">Bil Kleb</a></li>
    <li><a href="http://huikau.com/">Mike McKinney</a></li>
    <li><a href="http://www.candescence.org/">Geoff Parsons</a></li>
    <li><a href="http://www.wearetitans.net/">Brennan Dunn</a></li>
    <li><a href="http://techiferous.com/">Wyatt Greene</a></li>
  </ul>
</section>

