
/* SCSS - Fonts */

@font-face  { font-family: MetaMedRoman; src: url('/resource/font-meta-med.ttf') format('truetype'); }
@font-face  { font-family: MetaMono; src: url('/resource/font-meta-mono.ttf') format('truetype'); }
@font-face  { font-family: MetaDroidSans; src: url('/resource/font-goog-dsr.ttf') format('truetype'); font-style: normal; font-weight: normal; }
@font-face  { font-family: MetaDroidSans; src: url('/resource/font-goog-dsb.ttf') format('truetype'); font-style: normal; font-weight: bold; }
@font-face  { font-family: MetaInconsolata; src: url('/resource/font-inconsolata.ttf') format('truetype'); }

@mixin font-metamed($size)  { font-family: MetaMedRoman, sans-serif; font-size: $size; }
@mixin font-metamono($size) { font-family: MetaMono, courier, monospace; font-size: $size; }
@mixin font-droidsans($size)  { font-family: MetaDroidSans, Helvetica sans-serif; font-size: $size; }
@mixin font-inconsolata($size)  { font-family: MetaInconsolata, Helvetica sans-serif; font-size: $size; }


/* SCSS - Variables */

$cols: 10;
$colwidth: 80px;
$gutterwidth: 20px;

$c1width:  $colwidth * 1;
$c2width:  ($colwidth * 2) + ($gutterwidth * 1);
$c3width:  ($colwidth * 3) + ($gutterwidth * 2);
$c4width:  ($colwidth * 4) + ($gutterwidth * 3);
$c5width:  ($colwidth * 5) + ($gutterwidth * 4);
$c6width:  ($colwidth * 6) + ($gutterwidth * 5);
$c7width:  ($colwidth * 7) + ($gutterwidth * 6);
$c8width:  ($colwidth * 8) + ($gutterwidth * 7);
$c9width:  ($colwidth * 9) + ($gutterwidth * 8);
$c10width: ($colwidth * 10) + ($gutterwidth * 9);

$pagewidth: ($colwidth * $cols) + ($gutterwidth * ($cols - 1));

$hdrheight: 117px;
$hdrlogoheight: 72px;


/* SCSS - Future Proof & Vendor Helpers */

@mixin background-gradient($from, $to) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}

@mixin box-shadow($hoff, $voff, $blur, $color) {
  -moz-box-shadow: $hoff $voff $blur $color;
  -webkit-box-shadow: $hoff $voff $blur $color;
  box-shadow: $hoff $voff $blur $color;
}


/* SCSS - Site Layout */

@mixin clearfix { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

body {
  @include font-inconsolata(16px);
  color: #f2f2f2; 
  background: {
    color: #0d0d0d;
    image: url('/resource/bg.gif');
  }
  header#mast {
    width: 100%;
    height: $hdrheight;
    background-color: #121319;
    border-bottom: 1px solid #303030;
    @include background-gradient(#1c1e26, #121319);
    @include box-shadow(0, 1px, 0, #000);
    section {
      width: $pagewidth;
      margin: 0px auto;
      position: relative;
    }
  }
  section#page { 
    width: $pagewidth; 
    margin: 0px auto;
    nav {
      float: left;
      position: fixed;
      width: $c3width;
      top: $hdrheight - 53px;
      header#logo {
        height: $hdrlogoheight;
        white-space: nowrap;
        overflow: visible;
        * { display:block; position:absolute; }
        img {  }
        div { @include font-metamed(29px); top:13px; left:81px; }
      }
    }
    #content {
      float: right;
      width: $c7width;
      h1, h2, h3, h4 { @include font-droidsans(32px); line-height: 1em; }
      h1 { font-size: 32px; width: 60%;  }
      p { margin: 10px 0; line-height: 1em; }
    }
  }
  footer#foot {
    width: 100%;
    clear: both;
    background-color: black;
    section {
      width: $pagewidth;
      margin: 0px auto;
    }
  }
}


/* Article Styles Pubdate */

article {
  header {
    &:after { @include clearfix; }
    time {
      width: 50px;
      height: 60px;
      display: block;
      float: left;
      background-color: yellow;
    }
    h1 {
      width: 200px;
      float: left;
    }
  }
  footer { }
}


/* Pygment Highlight */

.highlight        { background: #ffffff; @include font-metamono(14px); }
.highlight span   { @include font-metamono(14px); }
.highlight .c     { color: #999988; font-style: italic } /* Comment */
.highlight .err   { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k     { font-weight: bold } /* Keyword */
.highlight .o     { font-weight: bold } /* Operator */
.highlight .cm    { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp    { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1    { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs    { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd    { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge    { font-style: italic } /* Generic.Emph */
.highlight .gr    { color: #aa0000 } /* Generic.Error */
.highlight .gh    { color: #999999 } /* Generic.Heading */
.highlight .gi    { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go    { color: #888888 } /* Generic.Output */
.highlight .gp    { color: #555555 } /* Generic.Prompt */
.highlight .gs    { font-weight: bold } /* Generic.Strong */
.highlight .gu    { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt    { color: #aa0000 } /* Generic.Traceback */
.highlight .kc    { font-weight: bold } /* Keyword.Constant */
.highlight .kd    { font-weight: bold } /* Keyword.Declaration */
.highlight .kp    { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr    { font-weight: bold } /* Keyword.Reserved */
.highlight .kt    { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m     { color: #009999 } /* Literal.Number */
.highlight .s     { color: #d14 } /* Literal.String */
.highlight .na    { color: #008080 } /* Name.Attribute */
.highlight .nb    { color: #0086B3 } /* Name.Builtin */
.highlight .nc    { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no    { color: #008080 } /* Name.Constant */
.highlight .ni    { color: #800080 } /* Name.Entity */
.highlight .ne    { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf    { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn    { color: #555555 } /* Name.Namespace */
.highlight .nt    { color: #000080 } /* Name.Tag */
.highlight .nv    { color: #008080 } /* Name.Variable */
.highlight .ow    { font-weight: bold } /* Operator.Word */
.highlight .w     { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf    { color: #009999 } /* Literal.Number.Float */
.highlight .mh    { color: #009999 } /* Literal.Number.Hex */
.highlight .mi    { color: #009999 } /* Literal.Number.Integer */
.highlight .mo    { color: #009999 } /* Literal.Number.Oct */
.highlight .sb    { color: #d14 } /* Literal.String.Backtick */
.highlight .sc    { color: #d14 } /* Literal.String.Char */
.highlight .sd    { color: #d14 } /* Literal.String.Doc */
.highlight .s2    { color: #d14 } /* Literal.String.Double */
.highlight .se    { color: #d14 } /* Literal.String.Escape */
.highlight .sh    { color: #d14 } /* Literal.String.Heredoc */
.highlight .si    { color: #d14 } /* Literal.String.Interpol */
.highlight .sx    { color: #d14 } /* Literal.String.Other */
.highlight .sr    { color: #009926 } /* Literal.String.Regex */
.highlight .s1    { color: #d14 } /* Literal.String.Single */
.highlight .ss    { color: #990073 } /* Literal.String.Symbol */
.highlight .bp    { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc    { color: #008080 } /* Name.Variable.Class */
.highlight .vg    { color: #008080 } /* Name.Variable.Global */
.highlight .vi    { color: #008080 } /* Name.Variable.Instance */
.highlight .il    { color: #009999 } /* Literal.Number.Integer.Long */


