/* Fonts */
/* Pictos Font - Copyright © 2010 Drew Wilson http://www.drewwilson.com - This font is NOT free! */
@font-face {
  font-family: MetaMedRoman;
  src: url("/resource/font-meta-med.ttf") format("truetype"); }

@font-face {
  font-family: MetaMono;
  src: url("/resource/font-meta-mono.ttf") format("truetype"); }

@font-face {
  font-family: MetaDroidSans;
  src: url("/resource/font-goog-dsr.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: MetaDroidSans;
  src: url("/resource/font-goog-dsb.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: MetaInconsolata;
  src: url("/resource/font-inconsolata.ttf") format("truetype"); }

@font-face {
  font-family: MetaPictos;
  src: url("/resource/font-pictos-web.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* Variables */
/* Vendor Helpers */
/* My Helpers */
/* Component - AppleTV Left Navigation */
/* Site Layout */
body {
  font-family: MetaInconsolata, Helvetica sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  background-color: #0d0d0d;
  background-image: url("/resource/bg.gif"); }
  body header#mast {
    width: 100%;
    height: 70px;
    background-color: #121319;
    border-bottom: 1px solid #303030;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1e26), to(#121319));
    background-image: -moz-linear-gradient(top, #1c1e26, #121319);
    background-image: linear-gradient(top, #1c1e26, #121319);
    -moz-box-shadow: 0 1px 0 black;
    -webkit-box-shadow: 0 1px 0 black;
    box-shadow: 0 1px 0 black; }
    body header#mast section {
      width: 980px;
      margin: 0px auto;
      position: relative; }
      body header#mast section nav {
        float: right;
        padding: 10px 0 0 0; }
        body header#mast section nav li {
          display: inline; }
  body section#page {
    width: 980px;
    margin: 0px auto; }
    body section#page nav {
      float: left;
      position: fixed;
      width: 180px;
      top: 25px; }
      body section#page nav header#logo {
        height: 57px;
        white-space: nowrap;
        overflow: visible; }
        body section#page nav header#logo * {
          display: block;
          position: absolute; }
        body section#page nav header#logo div {
          font-family: MetaMedRoman, sans-serif;
          font-size: 28px;
          top: 7px;
          left: 65px; }
      body section#page nav ul li {
        position: relative; }
        body section#page nav ul li a, body section#page nav ul li a:link, body section#page nav ul li a:visited, body section#page nav ul li a:hover, body section#page nav ul li a:active {
          display: block;
          color: #fff;
          background-color: none;
          text-decoration: none;
          font-family: MetaMedRoman, sans-serif;
          font-size: 14px;
          font-weight: 100;
          letter-spacing: 1px;
          padding: 5px 8px 6px 12px;
          border: 1px solid rgba(0, 0, 0, 0);
          /*span { display:none; }*/ }
        body section#page nav ul li a:hover {
          border: 1px solid black;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(0.43, #313131), color-stop(0.44, black), color-stop(0.82, black), color-stop(0.83, #0b0b0b), color-stop(1, #393939));
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), #666666 0%, #313131 43%, black 44%, black 82%, #0b0b0b 83%, #393939 100%); }
        body section#page nav ul li a:hover:before {
          content: "";
          position: absolute;
          left: -1px;
          top: -1px;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(0, 102, 255, 0.6);
          -moz-border-radius: 1px;
          -webkit-border-radius: 1px;
          border-radius: 1px;
          background: none; }
        body section#page nav ul li a:hover:after {
          content: "";
          position: absolute;
          left: -2px;
          top: -2px;
          width: 100%;
          height: 100%;
          border: 2px solid rgba(0, 102, 255, 0.4);
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0 0 4px #0066ff;
          -webkit-box-shadow: 0 0 4px #0066ff;
          box-shadow: 0 0 4px #0066ff;
          background: none; }
        body section#page nav ul li a span:before {
          display: block;
          width: 16px;
          height: 16px;
          float: right;
          content: "\00a0";
          /* Default disclosure chevron to right. */
          /* @include sprite(0,0); */ }
        body section#page nav ul li a:hover span:before {
          background-image: url("/resource/sprite.png");
          background-position: -20px -0px;
          background-repeat: no-repeat; }
    body section#page #content {
      float: right;
      width: 780px;
      padding-top: 20px; }
      body section#page #content h1, body section#page #content h2, body section#page #content h3, body section#page #content h4 {
        font-family: MetaDroidSans, Helvetica sans-serif;
        font-size: 32px;
        line-height: 1em; }
      body section#page #content h1 {
        font-size: 32px;
        width: 60%; }
      body section#page #content p {
        margin: 10px 0;
        line-height: 1em; }
  body footer#foot {
    width: 100%;
    clear: both;
    background-color: black; }
    body footer#foot section {
      width: 980px;
      margin: 0px auto; }

/* Article Styles (pubdate/etc) */
article header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
article header time {
  width: 50px;
  height: 60px;
  display: block;
  float: left;
  padding-bottom: 2px;
  margin-right: 15px;
  background-color: #666;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 2px 2px 1px black;
  -webkit-box-shadow: 2px 2px 1px black;
  box-shadow: 2px 2px 1px black; }
  article header time span {
    display: block;
    text-align: center;
    font-family: MetaMedRoman, sans-serif;
    font-size: 14px;
    text-transform: lowercase; }
  article header time span.day {
    font-size: 26px;
    line-height: 26px; }
  article header time span.month {
    font-size: 15px;
    line-height: 21px; }
  article header time span.year {
    font-size: 16px;
    line-height: 19px;
    background-color: #900;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px; }
article header h1 {
  width: 200px;
  float: left;
  margin: 0 0 10px 0; }

/* Fancy Buttons - http://lab.simurai.com/css/buttons/*/
a.button {
  /* text */
  text-decoration: none;
  font-family: MetaDroidSans, Helvetica sans-serif;
  font-size: 13px;
  line-height: 1em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* layout */
  padding: .5em .6em .4em .6em;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /* effects */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7))), url("/resource/noise.png");
  background-image: -moz-radial-gradient(top, ellipse cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url("/resource/noise.png");
  background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7))), url("/resource/noise.png");
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  /* color */
  color: #000 !important;
  background-color: gray;
  -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, #999999 0 0.1em 3px, #737373 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px;
  /* drop shadow */
  -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, #999999 0 0.1em 3px, #737373 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px;
  /* drop shadow */
  box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, #999999 0 0.1em 3px, #737373 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px;
  /* drop shadow */
  /* icon usage */
  /* states */ }
  a.button:before {
    font-family: MetaPictos;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 0;
    content: attr(data-icon);
    margin-right: 0.2em; }
  a.button:hover {
    background-color: #d4d4d4; }
  a.button:active {
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("/resource/noise.png");
    background-image: -moz-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("/resource/noise.png");
    background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("/resource/noise.png");
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px, rgba(0, 0, 0, 0.2) 0 0.2em 6px;
    /* drop shadow */
    -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px, rgba(0, 0, 0, 0.2) 0 0.2em 6px;
    /* drop shadow */
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px, rgba(0, 0, 0, 0.2) 0 0.2em 6px;
    /* drop shadow */
    -webkit-transform: translateY(0.2em);
    -moz-transform: translateY(0.2em);
    transform: translateY(0.2em); }
  a.button:focus {
    outline: none;
    color: rgba(254, 255, 255, 0.9) !important;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; }

@-moz-document url-prefix() {
  a.button {
    text-align: center;
    background-color: #b3b3b3;
    padding: .5em .4em .4em .5em; } }

/* Pygment Highlight */
.highlight {
  background: #ffffff;
  font-family: MetaMono, courier, monospace;
  font-size: 14px; }

.highlight span {
  font-family: MetaMono, courier, monospace;
  font-size: 14px; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
