<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ken Collins" />
    <title>MetaSkills.net - {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="MetaSkills.net" href="/atom.xml" />
    <link rel="author" href="mailto:ken@metaskills.net" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/highlight.css" />
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    
    {{ content }}
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-12735363-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    
  </body>
</html>