<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ken Collins" />
    <title>MetaSkills.net - {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="MetaSkills.net" href="/atom.xml" />
    <link rel="author" href="mailto:ken@metaskills.net" />
    <link rel="stylesheet" href="/resource/reset.css" />
    <link rel="stylesheet" href="/resource/site.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="/resource/site.js"></script>
  </head>
  <body>
    <header id="mast">
      <section>{% include header.html %}</section>
    </header>
    <section id="page">
      <section id="content">
        {{ content }}
      </section>
      <nav>
        <header id="logo" >
          <img width="72" height="72" src="/apple-touch-icon-72x72-precomposed.png" />
          <div>MetaSkills.net</div>
        </header>
        <h2>Categories</h2>
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </nav>
    </section>
    <footer id="foot">
  	  <section>{% include footer.html %}</section>
  	</footer>
  </body>
</html>