<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ken Collins" />
    <title>MetaSkills.net - {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="MetaSkills.net" href="/atom.xml" />
    <link rel="author" href="mailto:ken@metaskills.net" />
    <link rel="stylesheet" href="/resource/reset.css" />
    <link rel="stylesheet" href="/resource/site.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="/resource/zepto.js"></script>
    <script src="/resource/site.js"></script>
  </head>
  <body>
    <header id="mast">
      <div class="content">
        <section id="identity" >
          <div id="avatar"></div>
          <div>MetaSkills.net</div>
          <div>Coding things under other things!</div>
        </section>
        <nav>
          <ul>
            <li><a href="#" class="button" data-icon="H">Home</a></li>
            <li><a href="#" class="button" data-icon="i">Colophon</a></li>
            <li><a href="#" class="button" data-icon="x">Projects</a></li>
            <li><a href="http://twitter.com/metaskills" class="button" data-icon="B">Follow</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="page">
      <section id="content">
        {{ content }}
      </section>
      <nav>
        <div><a href="http://orangecow.org/pythonet/sketches/ontopof.htm">Society for coding things on top  of other things!</a></div>
        <h3>Categories</h3>
        <ul>
          <li><a href="/heuristics">Heuristics</a></li>
          <li><a href="/workflow">Workflow</a></li>
          <li><a href="/apple/osx">Apple/OSX</a></li>
          <li><a href="/database">Database</a></li>
          <li><a href="/lifestyle">Lifestyle</a></li>
          <li><a href="/miscellaneous">Miscellaneous</a></li>
          <li><a href="/ruby/rails">Ruby/Rails</a></li>
          <li><a href="/textmate">TextMate</a></li>
        </ul>
      </nav>
    </section>
    <footer id="foot">
  	  <section id="footer">{% include footer.html %}</section>
  	</footer>
  </body>
</html>