<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ken Collins" />
    <meta http-equiv="refresh" content="0;url=http://metaskills.net{{ page.new_url }}" />
    <title>301 Moved</title>
    <link rel="author" href="mailto:ken@metaskills.net" />
    <link rel="shortcut icon" href="/favicon.png" />
  </head>
  <body>
    <p>Moved To: <a href="http://metaskills.net{{ page.new_url }}">http://metaskills.net{{ page.new_url }}</a></p>
  </body>
</html>
